.colors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.colors__item {
    height: 200px;
    border-radius: 10px;
    background-color: #ff0;
    display: flex;
    align-items: center;
    justify-content: center;
}