.app-promo-block {
	padding: 20px 15px;
	background: #fff;

	border: 1px solid #ebebeb;
	border-radius: 2px;
}

.app-promo-block__title {
	font-size: 16px;
	margin-bottom: 20px;
}

.app-promo-block__img {
	font-size: 0;
	margin-bottom: 20px;
	width: 175px;
	height: 50px;
	display: block;
	transition: transform .25s;
}

.app-promo-block__img:last-child {
	margin-bottom: 0;
}

.app-promo-block__img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media screen and (hover: hover) {
	.app-promo-block__img:hover {
		transform: scale(1.1);
	}
}