.bg-white {
	background-color: #fff;
}

.bg-pattern-1 {
	background: url(/files_content/img/default-filter-bg-mob.png) 0 0, -o-linear-gradient(left, #52a7e7 0%, #52a7e7 100%);
	background: url(/files_content/img/default-filter-bg-mob.png) 0 0, -webkit-gradient(linear, left top, right top, from(#52a7e7), to(#52a7e7));
	background: url(/files_content/img/default-filter-bg-mob.png) 0 0, linear-gradient(to right, #52a7e7 0%, #52a7e7 100%);
}

/* 23 февраля*/
.bg-pattern-2 {
	background: url(/files_content/img/bg-pattern-23-february.png) 0 -1px, -o-linear-gradient(left, #52a7e7 0%, #52a7e7 100%) !important;
	background: url(/files_content/img/bg-pattern-23-february.png) 0 -1px, -webkit-gradient(linear, left top, right top, from(#52a7e7), to(#52a7e7)) !important;
	background: url(/files_content/img/bg-pattern-23-february.png) 0 -1px, linear-gradient(to right, #52a7e7 0%, #52a7e7 100%) !important;
	background-size: 410px;
}

/* 8 марта */
.bg-pattern-3 {
	background: url(/files_content/img/bg-pattern-8-march.png) 0 -1px, -o-linear-gradient(left, #52a7e7 0%, #52a7e7 100%) !important;
	background: url(/files_content/img/bg-pattern-8-march.png) 0 -1px, -webkit-gradient(linear, left top, right top, from(#52a7e7), to(#52a7e7)) !important;
	background: url(/files_content/img/bg-pattern-8-march.png) 0 -1px, linear-gradient(to right, #52a7e7 0%, #52a7e7 100%) !important;
	background-size: 410px;
}