.breadcrumb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.breadcrumb > li:after {
	content: "\e93d";
	font-family: "MyFIn";
	font-size: 10px;
	margin-left: 5px;
	margin-right: 5px;
	color: #14509c;
}

.breadcrumb > li:last-child:after {
	display: none;
}

/* breadcrumb-on-mobile */
.breadcrumb-on-mobile {
	background-color: #fff;
	padding: 15px 0;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb
}

.breadcrumb-on-mobile .container {
	padding-left: 15px;
	padding-right: 15px
}

/* breadcrumb-on-mobile //end */

/* breadcrumb-container */
/* breadcrumb-container--white */
.breadcrumb-container.breadcrumb-container--white .breadcrumb a {
	color: #fff;
}

.breadcrumb-container.breadcrumb-container--white .breadcrumb > li:after {
	color: #fff;
}

.breadcrumb-container.breadcrumb-container--white .breadcrumb li.active {
	color: #fff;
	opacity: 0.5;
}

/* breadcrumb-container--white //end */
.breadcrumb-container.breadcrumb-container--with-paddings {
	padding: 10px 20px;
}

.breadcrumb-container.breadcrumb-container--with-datapicker {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.breadcrumb-container.breadcrumb-container--underlined {
	border-bottom: 1px solid #ebebeb;
}

@media screen and (max-width: 767px) {
	.breadcrumb-container.breadcrumb-container--with-paddings {
		padding: 10px 15px;
	}
}

/* breadcrumb-container //end */