/*Иконки банков*/
.iconb {
    position: relative
}

.iconb:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: -22px;
    background: url(//myfin.by/images/banks_sprite.png) no-repeat;
    background-size: cover
}

.iconb.nbrb:before {
    background-position: 0 68%
}

.iconb.absolutbank:before, .iconb.bank_5:before {
    background-position: 0 0
}

.iconb.alfabank:before, .iconb.bank_6:before {
    background-position: 0 4%
}

.iconb.bank_24:before, .iconb.statusbank:before {
    background-position: 0 44%
}

.iconb.bank_29:before, .iconb.ideabank:before {
    background-position: 0 56%
}

.iconb.bank_12:before, .iconb.bvebank:before {
    background-position: 0 40%
}

.iconb.bank-vtb:before, .iconb.bank_8:before {
    background-position: 0 96%
}

.iconb.bank_25:before, .iconb.mtbank:before {
    background-position: 0 64%
}

.iconb.bank_9:before, .iconb.dabrabyt:before {
    background-position: 0 60%
}

.iconb.bank_22:before, .iconb.honerbank:before {
    background-position: 0 52%
}

.iconb.bank_10:before, .iconb.belagroprombank:before {
    background-position: 0 8%
}

.iconb.bank_26:before, .iconb.paritetbank:before {
    background-position: 0 72%
}

.iconb.bank_11:before, .iconb.belarusbank:before {
    background-position: 0 12%
}

.iconb.bank_27:before, .iconb.priorbank:before {
    background-position: 0 76%
}

.iconb.bank_13:before, .iconb.belgazprombank:before {
    background-position: 0 16%
}

.iconb.bank_28:before, .iconb.rrb-bank:before {
    background-position: 0 80%
}

.iconb.bank_14:before, .iconb.belinvestbank:before {
    background-position: 0 20%
}

.iconb.bank_30:before, .iconb.technobank:before {
    background-position: 0 84%
}

.iconb.bank_31:before, .iconb.tkbank:before {
    background-position: 0 88%
}

.iconb.bank_15:before, .iconb.bnbank:before {
    background-position: 0 28%
}

.iconb.bank_32:before, .iconb.reshenie:before {
    background-position: 0 92%
}

.iconb.bank_18:before, .iconb.bps-sberbank:before {
    background-position: 0 32%
}

.iconb.bank_33:before, .iconb.fransabank:before {
    background-position: 0 48%
}

.iconb.bank_17:before, .iconb.belswissbank:before {
    background-position: 0 24%
}

.iconb.bank_19:before, .iconb.btabank:before {
    background-position: 0 36%
}

.iconb.bank_35:before, .iconb.zepterbank:before {
    background-position: 0 100%
}

.iconb:before, .social {
    display: inline-block
}
/*Иконки банков end*/