/*main-nav*/
.main-nav_sub {
    pointer-events: none
}

.main-nav_inner, .main-nav_right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.main-nav {
    position: sticky;
    z-index: 1000;
    top: -1px;
    left: 0;
    background-color: #14509b;
    -webkit-box-shadow: 0 9px 9px -7px rgba(0, 0, 0, .3);
    box-shadow: 0 9px 9px -7px rgba(0, 0, 0, .3)
}

.main-nav.fixed {
    background-color: #fff;
    -webkit-transition: background-color .25s;
    -o-transition: background-color .25s;
    transition: background-color .25s
}

.main-nav.fixed .main-nav_link:not(.main-nav_link-credit) {
    color: #14509c
}

.main-nav_inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.main-nav__logo {
    position: absolute;
    width: 0;
    overflow: hidden
}

.main-nav.fixed .main-nav__logo {
    position: static;
    width: 120px;
    -webkit-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s
}

.main-nav_link, .main-nav_right {
    position: relative
}

.main-nav.fixed .main-nav__logo.main-nav__logo--new-year {
    width: 122px;
}

.main-nav__logo.main-nav__logo--new-year img {
    height: 40px;
    width: 122px;
    margin-bottom: 5px;
    overflow: hidden
}

.main-nav__logo img {
    height: 30px;
    overflow: hidden
}

.main-nav_list {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.main-nav_sub-link, .main-nav_sub-title {
    margin-bottom: 10px;
    display: block
}

.main-nav_link {
    display: inline-block;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: color .25s, background-color .25s, -webkit-box-shadow .25s, -webkit-transform .25s;
    -o-transition: color .25s, background-color .25s, box-shadow .25s, transform .25s;
    transition: color .25s, background-color .25s, box-shadow .25s, transform .25s, -webkit-box-shadow .25s, -webkit-transform .25s
}

.main-nav_new .main-nav_link:not(.main-nav_link-credit)::after, .main-nav_sub-link.main-nav_new::after {
    content: "NEW";
    line-height: 1.4;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f78f1e;
    color: #fff;
    font-size: 9px;
    font-family: roboto-bold, sans-serif;
    padding: 2px 6px;
    border-radius: 0 0 3px 3px;
}

.main-nav_city-item--more::after, .main-nav_partner::before {
    content: ""
}

.main-nav_sub-link.main-nav_new::after {
    top: auto;
    right: auto
}

.main-nav_item-sub .main-nav_link::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-bottom-color: #fff;
    opacity: 0;
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s
}

.main-nav_sub-link.iconb:before {
    left: 0
}

.main-nav_sub-link.main-nav_sub-link--app{
    display: inline-flex;
    align-items: center;

}

.main-nav_sub-link.main-nav_sub-link--app img {
    height: 14px;
}

@media screen and (min-width: 1023px) {

    .main-nav_item.active .main-nav_link {
        background-color: #3b6cbc;
        color: #fff !important
    }
}

.main-nav_item-sub:hover .main-nav_link {
    background-color: #3b6cbc;
    color: #fff !important
}

.main-nav_item-sub:hover .main-nav_link::before {
    opacity: 1
}

.main-nav_link-credit {
    position: relative;
    top: 0;
    padding: 10px;
    background-color: #e62e1c;
    -webkit-box-shadow: 0 1px 0 #96261b, 0 2px 0 #96261b, 0 3px 0 #96261b;
    box-shadow: 0 1px 0 #96261b, 0 2px 0 #96261b, 0 3px 0 #96261b;
    border-radius: 28px;
    font-size: 14px
}

.main-nav_sub-title, .rate-service__title {
    font-family: roboto-bold, sans-serif;
    font-size: 18px
}

.main-nav_link-credit:hover {
    -webkit-box-shadow: 0 1px 0 #96261b, 0 0 0 #96261b, 0 2px 0 #96261b;
    box-shadow: 0 1px 0 #96261b, 0 0 0 #96261b, 0 2px 0 #96261b;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px)
}

.main-nav_search {
    padding: 10px 0;
    width: 0;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 33px;
    background-color: #14509c;
    border: none;
    color: #fff;
    -webkit-transition: width .25s, padding .25s, -webkit-box-shadow .25s;
    -o-transition: width .25s, box-shadow .25s, padding .25s;
    transition: width .25s, box-shadow .25s, padding .25s, -webkit-box-shadow .25s
}

.main-nav_search::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .67)
}

.main-nav_search::-moz-placeholder {
    color: rgba(255, 255, 255, .67)
}

.main-nav_search:-ms-input-placeholder {
    color: rgba(255, 255, 255, .67)
}

.main-nav_search::-ms-input-placeholder {
    color: rgba(255, 255, 255, .67)
}

.main-nav_search::placeholder {
    color: rgba(255, 255, 255, .67)
}

.main-nav_search.active {
    width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-shadow: 0 0 16px 3px #17437d;
    box-shadow: 0 0 16px 3px #17437d
}

.main-nav.fixed .main-nav_search {
    background-color: #fff;
    color: #000
}

.main-nav.fixed .main-nav_search.active {
    width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-shadow: 0 0 16px 3px #a1a1a1;
    box-shadow: 0 0 16px 3px #a1a1a1
}

.main-nav.fixed .main-nav_btn-search, .main-nav_btn-search {
    margin-left: 20px;
    border: none;
    outline: 0;
}

.main-nav.fixed .main-nav_search.active::-webkit-input-placeholder {
    color: #14509c
}

.main-nav.fixed .main-nav_search.active::-moz-placeholder {
    color: #14509c
}

.main-nav.fixed .main-nav_search.active:-ms-input-placeholder {
    color: #14509c
}

.main-nav.fixed .main-nav_search.active::-ms-input-placeholder {
    color: #14509c
}

.main-nav.fixed .main-nav_search.active::placeholder {
    color: #14509c
}

.main-nav_btn-search {
    background-color: transparent;
}

.main-nav_btn-search:before {
    content: "\e93e";
    font-family: MyFIn;
    color: #fff;
    font-size: 25px;
    -webkit-transition: font-size .25s;
    -o-transition: font-size .25s;
    transition: font-size .25s;
}

.main-nav.fixed .main-nav_btn-search:before {
    color: #14509c;
}

.main-nav_sub {
    opacity: 0;
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    -webkit-transition: opacity .25s, -webkit-transform .25s;
    -o-transition: opacity .25s, transform .25s;
    transition: opacity .25s, transform .25s, -webkit-transform .25s
}

.main-nav_item:hover .main-nav_sub {
    opacity: 1;
    pointer-events: auto
}

.main-nav_sub-inner {
    padding-top: 30px;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.main-nav_sub-item {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.main-nav_sub-cell {
    padding-right: 10px
}

.main-nav_sub-cell--25 {
    width: calc(100% / 4)
}

.main-nav_sub-cell--33 {
    width: calc(100% / 3)
}

.main-nav_sub-cell--50 {
    width: calc(100% / 2)
}

.main-nav_sub-cell--75 {
    width: 75%
}

.main-nav_sub-cell--100 {
    width: 100%
}

.main-nav_sub-list--column-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2
}

.main-nav_sub-list--column-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3
}

.main-nav_sub-list--column-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4
}

.main-nav_sub-link {
    color: #000;
    font-size: 15px
}

.main-nav_sub-link--new {
    position: relative;
}

.main-nav_sub-link--new:after {
    content: "NEW";
    line-height: 1.4;
    background-color: #f78f1e;
    color: #fff;
    font-size: 9px;
    font-family: roboto-bold, sans-serif;
    padding: 2px 6px;
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 2px;
    transition: background-color 0.3s ease;
}

.main-nav_city {
    background-color: #f2f9fd
}

.main-nav_city-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0
}

.main-nav_city-item {
    margin-right: 20px
}

.main-nav_city-item:last-child {
    margin-right: 0
}

.main-nav_city-link {
    color: #000
}

.main-nav_city-item--more {
    position: relative
}

.main-nav_city-item--more::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    z-index: 10;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #000;
    top: 8px;
    right: -12px
}

.main-nav_city-more {
    display: none;
    padding: 15px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    font-size: 15px
}

.main-nav_city-more a {
    color: #14509c
}

.main-nav_city-more .main-nav_city-item--more::after {
    border-top-color: #14509c
}

.main-nav_social {
    padding: 20px 15px;
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    background-color: #ebf6fb
}

.main-nav_social .social {
    margin-bottom: 0;
    position: static
}

@media screen and (max-width: 1023px) {
    .main-nav {
        left: -1px;
    }
    .main-nav, .main-nav_sub {
        bottom: 0;
        overflow-y: auto
    }

    .main-nav_city-more {
        display: block
    }

    .main-nav_btn-search, .main-nav_city {
        display: none
    }

    .main-nav_new .main-nav_link:not(.main-nav_link-credit)::after, .main-nav_sub-link.main-nav_new::after {
        top: 5px;
        right: 5px;
        left: unset;
        transform: translateY(0);
        padding: 1px 4px;
        border-radius: 3px;
    }

    .main-nav {
        position: fixed;
        top: 50px;
        width: 50%;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: -webkit-transform .25s;
        transition: -webkit-transform .25s;
        -o-transition: transform .25s;
        transition: transform .25s, -webkit-transform .25s;
        background-color: #fff
    }

    .main-nav .container {
        padding: 0
    }

    .main-nav.active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }

    .main-nav_inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .main-nav_list, .main-nav_sub-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .main-nav_list {
        width: 100%;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .main-nav_form {
        width: 100%
    }

    .main-nav_item {
        position: relative;
        cursor: pointer;
        padding: 15px;
        width: 100%;
        border-bottom: 1px solid #e1e1e1
    }

    .main-nav_item:last-child {
        border-bottom: none
    }

    .main-nav_item-sub::after {
        content: "";
        position: absolute;
        right: 15px;
        top: 45%;
        width: 8px;
        height: 8px;
        border: 2px solid #999;
        border-left: none;
        border-bottom: none;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .main-nav_search-wrapp {
        position: relative
    }

    .main-nav_search-wrapp::before {
        position: absolute;
        z-index: 5;
        right: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: .5;
        content: "\e93e";
        font-family: MyFIn;
        color: #fff;
        font-size: 15px;
        pointer-events: none;
    }

    .main-nav_search {
        position: static;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        border-radius: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    .main-nav_link:not(.main-nav_link-credit) {
        padding: 0;
        color: #000
    }

    .main-nav_new .main-nav_link:not(.main-nav_link-credit) {
        padding-right: 35px
    }

    .main-nav_sub {
        position: fixed;
        top: 0;
        padding: 30px 40px;
        opacity: 1;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transform: translateX(-100%) translateY(0);
        -ms-transform: translateX(-100%) translateY(0);
        transform: translateX(-100%) translateY(0);
        pointer-events: auto
    }

    .main-nav_sub.active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }

    .main-nav_sub-list {
        -webkit-column-count: auto;
        -moz-column-count: auto;
        column-count: auto
    }

    .main-nav_sub-cell {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px
    }

    .main-nav_right {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }
}

@media screen and (max-width: 767px) {
    .main-nav {
        width: 100%;
        top: 50px;
        left: 0;
    }

    .main-nav_sub-inner {
        min-width: auto
    }
}

.main-nav_sub-link.iconb {
    padding-left: 22px
}

.main-nav_link:hover {
    background-color: #3b6cbc;
    color: #fff !important
}

.main-nav_link-credit:hover {
    background-color: #de2513;
    color: #fff !important
}

.main-nav_partner {
    position: relative;
    margin-left: 15px;
    padding: 5px 8px;
    background-color: #0099d9;
    border-radius: 3px;
    color: #fff
}

.main-nav_partner::before {
    position: absolute;
    left: -10px;
    top: 30%;
    border: 5px solid transparent;
    border-right-color: #0099d9
}

@media screen and (max-width: 1023px) {
    .main-nav_item-sub:hover .main-nav_link {
        background-color: transparent;
        color: #000 !important
    }
}

.main-nav_sub-list-no-title {
    margin-top: 35px
}

@media screen and (max-width: 1022px) {
    .main-nav_sub-list-no-title {
        margin-top: 0
    }
}

@media (max-width: 1200px) {
    .main-nav_link {
        padding-left: 10px;
        padding-right: 10px
    }

    .main-nav.fixed .main-nav_link {
        font-size: 15px
    }
}

.main-nav.fixed .main-nav_link {
    padding-left: 12px;
    padding-right: 12px
}

.lang_menu .main-nav_link {
    font-size: 15px
}

/*костыль на случай, если .main-nav--static не стопает .main-nav*/
.main-nav.main-nav--super-static {
    position: relative;
}

/*Main-nav end*/