.nav-tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #f78f1e;
}

.nav-tabs li a {
	padding: 8px 15px;
	font-size: 14px;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-transition: background-color .25s;
	-o-transition: background-color .25s;
	transition: background-color .25s;
}

.nav-tabs li:first-child a {
	padding-left: 20px;
}

.nav-tabs li:last-child a {
	padding-right: 20px;
}

.nav-tabs li.active a {
	color: #fff;
	background-color: #f78f1e;
}

.nav-tabs li a:hover {
	background-color: #f9b162;
	color: #fff;
}

.nav-tabs.nav-tabs--bordered .item {
	border-left: 1px solid #ebf6fb;
	border-top: 1px solid #ebf6fb;
	border-right: 1px solid #ebf6fb;
	transition: border-color .25s;
}

.nav-tabs.nav-tabs--bordered .item.active {
	border-color: #f78f1e;
}

.nav-tabs.nav-tabs--bordered .item:hover {
	border-color: #f9b162;
}

.nav-tabs.nav-tabs--rounded .item:first-child {
	border-top-left-radius: 3px;
}

.nav-tabs.nav-tabs--rounded .item:last-child {
	border-top-right-radius: 3px;
}

.nav-tabs.nav-tabs--row {
	flex-direction: row;
}

.nav-tabs.nav-tabs--col-2 li {
	width: calc(100% / 2);
}

.nav-tabs.nav-tabs--col-3 li {
	width: calc(100% / 3);
}

.nav-tabs.nav-tabs--col-4 li {
	width: calc(100% / 4);
}

.nav-tabs.nav-tabs--col-2 li,
.nav-tabs.nav-tabs--col-3 li,
.nav-tabs.nav-tabs--col-4 li,
.nav-tabs.nav-tabs--col-2 li a,
.nav-tabs.nav-tabs--col-3 li a,
.nav-tabs.nav-tabs--col-4 li a {
	width: 100%;
	text-align: center;
	justify-content: center;
}

@media screen and (max-width: 767px) {
	.nav-tabs {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.nav-tabs li,
	.nav-tabs li a {
		width: 100%;
	}

	.nav-tabs li:first-child a {
		padding-left: 15px;
	}

	.nav-tabs li:last-child a {
		padding-right: 15px;
	}

	.nav-tabs.nav-tabs--mob-collapsed {
		display: flex;
		flex-direction: column;
	}
	.nav-tabs.nav-tabs--mob-collapsed li {
		display: none;
	}

	.nav-tabs.nav-tabs--mob-collapsed li.active {
		display: block;
		order: -1;
	}

	.nav-tabs.nav-tabs--mob-collapsed li.active a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.nav-tabs.nav-tabs--mob-collapsed li.active a:after {
		font-family: MyFIn;
		content: "\e90d";
		font-size: 12px;
		-webkit-transition: -webkit-transform .25s;
		transition: -webkit-transform .25s;
		-o-transition: transform .25s;
		transition: transform .25s;
		transition: transform .25s, -webkit-transform .25s;
	}

	.nav-tabs.nav-tabs--mob-collapsed.nav-tabs--collapse-show li {
		display: block;
	}

	.nav-tabs.nav-tabs--mob-collapsed.nav-tabs--collapse-show li.active a:after {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}

}
