/* insurance-type */
.insurance-type {
	background-color: #f5f9ff;
	border-radius: 3px;
	padding: 15px;
	transition: background-color .25s;
	box-sizing: border-box;
	display: block;
}

.insurance-type__img {
	display: flex;
	justify-content: center;
	height: 146px;
	margin-bottom: 10px;
}

.insurance-type__img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.insurance-type__title {
	color: #1a3462;
	margin-bottom: 10px;
}

.insurance-type__subtitle {
	font-size: 16px;
	color: #6b737d;
	margin-bottom: 20px;
}

.insurance-type__params {
	margin-bottom: 20px;
}

.insurance-type__param {
	margin-bottom: 10px;
}

.insurance-type__param:last-child {
	margin-bottom: 0;
}

.insurance-type__param-title {
	font-size: 18px;
	font-family: roboto-bold, Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
	color: #1a3462;
}

.insurance-type__param-subtitle {
	font-size: 14px;
	color: #6b737d;
}

/* insurance-type //end*/

/*advantages*/
.advantages {
	display: flex;
	position: relative;
	overflow-x: auto;
}

.advantages__item {
	min-width: 250px;
	width: calc(100% / 3 - 6.666666666666667px);
	margin-right: 10px;
	flex-shrink: 0;
	background-color: #fff;
	padding: 10px;
	border-radius: 3px;
}

.advantages__item:last-child {
	margin-right: 0;
}

.advantages__item-icon {
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}

.advantages__item-icon img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.advantages__item-title {
	color: #1a3462;
	font-size: 20px;
	margin-bottom: 8px;
	font-family: roboto-bold, Arial, Helvetica, sans-serif;
}

.advantages__item-text {
	color: #1a3462;
	font-size: 16px;
}

/*advantages //end*/

/* imkliva-top-content-main */
.imkliva-top-content-main {

}

.imkliva-top-content-main__content {
	margin-bottom: 20px;
}

.imkliva-top-content-main__title {
	margin-bottom: 20px;
}

.imkliva-top-content-main__title h1,
.imkliva-top-content-main__title h2,
.imkliva-top-content-main__title h3 {
	text-align: center;
	color: #1a3462;
}

.imkliva-top-content-main__text {
	font-size: 18px;
	margin-bottom: 15px;
	color: #1a3462;
}

.imkliva-top-content-main__text .accent {
	font-family: roboto-bold, Arial, Helvetica, sans-serif;
}

.imkliva-top-content-main__btn {
	width: 100%;
}

.imkliva-top-content-main__img {
	display: flex;
	justify-content: center;
	height: 40px;
}

.imkliva-top-content-main__img img {
	height: 100%;
	width: auto;
	min-width: 40px;
	object-fit: cover;
}

/* imkliva-top-content-main //end */

/* imkliva-top-content-additional */

.imkliva-top-content-additional {

}

.imkliva-top-content-additional__content {
	margin-bottom: 40px;
}

.imkliva-top-content-additional__title h1,
.imkliva-top-content-additional__title h2,
.imkliva-top-content-additional__title h3 {
	text-align: center;
	color: #1a3462;
}

.imkliva-top-content-additional__text {
	color: #1a3462;
}

.imkliva-top-content-additional__param-subtitle {
	font-size: 16px;
	color: #6b737d;
}

.imkliva-top-content-additional__btn {
	width: 100%;
}

.imkliva-top-content-additional__img {
	display: none;
}

.imkliva-top-content-additional__params {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
}

.imkliva-top-content-additional__param {
	margin-right: 20px;
	margin-top: 20px;
}

.imkliva-top-content-additional__param:last-child {
	margin-right: 0;
}

.imkliva-top-content-additional__param-title {
	font-size: 18px;
	font-family: roboto-bold, Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
	color: #1a3462;
}

/* imkliva-top-content-additional //end */

/* insurance-type-container */
.insurance-type-container .insurance-type {
	margin-bottom: 15px;
}

.insurance-type-container .insurance-type:last-child {
	margin-bottom: 0;
}

/* insurance-type-container //end */

/*common styles*/
.imkliva-alter-top-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 100%;
	position: relative;
	transform: translateZ(0);
}

.imkliva-alter-top-bg-2 {
	position: absolute;
	left: 0;
	bottom: -1px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 100%;
	height: 25px;
	width: 100%;
}

.imkliva-alter-top-bg-2.imkliva-alter-top-bg-2--mob-hidden {
	display: none;
}

.imkliva-alter-advantages {
	margin-top: 30px;
}

.imkliva-alter-logo {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
}

.imkliva-alter-logo a {
	height: 30px;
}

.imkliva-alter-logo img {
	height: 100%;
	width: auto;
	object-fit: contain;
}

.imkliva-alter-footer {
	border-top: 1px solid #ebebeb;
	display: flex;
	justify-content: center;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.imkliva-alter-insurance-type {
	margin-top: 30px;
	margin-bottom: 30px;
}

.imkliva-alter-title {
	margin-bottom: 15px;
}

.imkliva-alter-title h1,
.imkliva-alter-title h2,
.imkliva-alter-title h3,
.imkliva-alter-title h4 {
	color: #1a3462;
}

.imkliva-alter-iframe {
	margin-bottom: 30px;
}

.imkliva-alter-iframe__iframe {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.imkliva-alter-title__img {
	height: 40px;
	margin-top: 15px;
}

.imkliva-alter-title__img img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.imkliva-alter-case-list {
	margin-top: 30px;
	margin-bottom: 30px;
}

.imkliva-alter-case-list .list {
	color: #1A3462;
	font-size: 16px;
}
/*common styles //end*/

