@media screen and (min-width: 768px) {
	.currencies-info {
		padding: 20px 30px;
		display: flex;
		justify-content: space-between;
	}

	.currencies-info__title {
		font-size: 20px;
		margin-bottom: 0;
		width: 20%;
	}

	.currencies-info__item-cell {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1200px) {
	.currencies-info__title {
		width: 30%;
	}
}